.explenation {
    h2 {
        text-align: center;
    }

    p {
        padding: 5px 180px;
        text-align: center;
    }
}

.dark-mode .explenation {
    h2 {
        color: $white-light;
    }

    p {
        color: $white-light;
    }
}