@mixin btn($hover-color: $white, $text-color: $black, $font-size: 20px) {
    background-color: transparentize($color: $hover-color, $amount: 0.7);
    border: 1px solid $gray;
    border-radius: 30px;
    padding: 12px 35px;
    color: $text-color;
    cursor: pointer;
    font-size: $font-size;
    font-weight: bold;
    transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-family: NunitoB, 'Courier New', Courier, monospace;

    &:hover {
        background-color: $hover-color;
    }
}

@mixin inpt () {
    border: $gray 1px solid;
    background-color: transparent;
    border-radius: 5px;
    height: em(50px);
    font-size: 16px;
    padding-left: 15px;
}

@mixin radioBtn () {}